<header class="row text-center mt-5 mb-5 border">
  <h1 class="text-danger"> {{eventDetails.title}} </h1>
  {{#if eventDetails.imageUrl}}
    <div class="">
      <img
        src="{{eventDetails.imageUrl}}"
        class="card-img-top rounded"
        alt="{{eventDetails.title}}"
      />
    </div>
    {{else}}
       <div class="">
      <img
        src="../images/defaultImg.jpeg"
        class="card-img-top rounded"
        alt="default image band"
      />
    </div>
  {{/if}}
</header>

<div class="row text-center">
  <div class="col">
    <div class="card mb-3">
      <h3>{{dateFormat eventDetails.startTime "dddd, MMMM Do YYYY, h:mm a"}}</h3>

      {{#if eventDetails.description}}
        <p><h5>{{eventDetails.style}}: </h5>{{eventDetails.description}}</p>
      {{/if}}
    </div>

    <div class="card">
      <h5>{{eventDetails.location.locationName}}</h5>
      <p>{{eventDetails.location.address}}</p>
      <h6><em>{{eventDetails.location.city}}</em></h6>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <form
        action="/events/{{eventDetails._id}}/comment"
        method="post"
        class="form d-inline mt-2"
      >
        <label>Leave your comments about this event here👇
          <input class="form-control" type="text" name="comment" placeholder="Your comment" />
          <input class="form-control" type="text" name="commentOwner" placeholder="Your Name" />
          <button type="submit" class="btn btn-danger mt-4">Post it</button>
        </label>
      </form>
      <div>
        {{#if eventDetails.comments}}
          <h5>Comments:</h5>
          {{#each eventDetails.comments}}
          <p>{{this.commentOwner}} commented: {{this.comment}}</p>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="row text-center">
    {{#if eventOwner}}
      <div class="mt-5">
        <form
          action="/events/{{eventDetails._id}}/delete"
          method="POST"
          class="form d-inline"
        >
          <button class="btn btn-secondary">Delete</button>
        </form>
        <form
          action="/events/{{eventDetails._id}}/edit"
          method="get"
          class="form d-inline"
        >
          <button class="btn btn-primary">Update</button>
          <p class="mt-3">{{eventOwner.message}}</p>
        </form>
      </div>
    {{/if}}
  </div>

</div>