<header class="row text-center mt-5 mb-5">
    <div class="col list-header">
        <h1>All next events</h1>
    </div>
</header>

<div id="event-list" class="row">
    {{#each events}}
    <section class="event col-12 col-md-6 col-lg-4 mb-2">
        <div class="card p-2 m-3 list-card card-shadow">
            {{#if imageUrl}}
            <img src="{{imageUrl}}" class="card-img-top rounded-pill" alt="{{title}}">
            {{else}}
            <img
        src="../images/defaultImg.jpeg"
        class="card-img-top rounded-pill"
        alt="default image band"
      />
      {{/if}}
            <div class="card-body text-center">
                <h4 class="card-title">{{title}}</h4>
                <p class="card-text">{{style}}</p>
                <p class="card-text">{{location.locationName}}</p>
                <p class="card-text">{{dateFormat startTime "MMMM Do YYYY, h:mm a"}}</p>
                <a class="btn btn-dark login-btn" href="events/{{_id}}">Details</a>
            </div>
        </div>
    </section>
    {{/each}}
</div>
