{{!-- <h2>{{title}}</h2>

<p>Music style: {{style}}</p>
<div>
  <h5>{{startTime}}</h5>
</div>
<div>
  <h5>{{location.locationName}}</h5>
  <p>{{location.address}}</p>
  <p>{{location.city}}</p>
</div>
<div>
  <p>{{description}}</p>
</div>
<div>
  {{#each comments}}
    <p></p>
  {{/each}}
</div>
<form action="/events/{{_id}}/delete" method="POST">
  <button>Delete</button>
</form>
<form action="/events/{{_id}}/edit" method="get">
  <button>Update</button>
</form> --}}

<header class="row text-center mt-5 mb-5 border">
  <div class="col">
    <h1> {{eventDetails.title}} </h1>
    <h4>Music style: {{eventDetails.style}}</h4>
    <h6>{{eventDetails.startTime}}</h6>
    <p class=>{{eventDetails.description}}</p>
    <div>
      <h5>{{eventDetails.location.locationName}}</h5>
      <p>{{eventDetails.location.address}}</p>
      <p>{{eventDetails.location.city}}</p>
    </div>
    <div>
      {{#each eventDetails.comments}}
      <p></p>
      {{/each}}
    </div>
    <div>
  
   {{#if eventOwner}}
      <form action="/events/{{eventDetails._id}}/delete" method="POST">
      <button class="btn btn-secondary" >Delete</button>
    </form>
    <form action="/events/{{eventDetails._id}}/edit" method="get">
      <button class="btn btn-primary" >Update</button>
      <p>{{eventOwner.message}}</p>
    </form>
   {{/if}}
    </div>
  </div>
</header>